@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: Outfit;
} */

@theme {
  --color-primary: #6a89a7;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
